* {
    box-sizing: border-box;
}

:root{
    --fondo-gradiente-1: #041f1e;
    --fondo-gradiente-2: #000000;
    --blanco: white;
    --negro: black;
    --dorado: gold;

    --header-bg: rgba(205, 139, 83, 0.25);
    --borde-blanco: rgba(255, 255, 255, 0.2);
    --sombra: rgba(0,0,0,0.25);
    --brillo: rgba(255,255,255,0.3);

    --card-bg: rgba(255,255,255,0.05);
    --card-borde: rgba(255,215,0,0.2);

    --transparente: rgba(0, 0, 0, 0);

    --facebook: #1877f2;
    --instagram: #e4405f;
    --x: #000000;

    --gris-texto: rgb(180, 179, 179);
}

body{
    background-size: cover;
    background: linear-gradient(135deg, var(--fondo-gradiente-1), var(--fondo-gradiente-2));
    margin: 0;
    font-family: libre-baskerville, serif;
    color: var(--blanco);
    overflow-x: hidden;
}

/* HEADER */
header{
    background: var(--header-bg);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-radius: 20px;
    margin: 20px;
    padding: 10px;

    border: 1px solid var(--borde-blanco);
    box-shadow: 
        0 8px 32px var(--sombra),
        inset 0 1px 0 var(--brillo);
}
.textoslargos{
    font-size: 30px;
    text-align: center;
    margin: 40px;
    background-color: var(--transparente);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

/* BRAND */
.brand{
    display: flex;
    align-items: center;
    
}

.brand a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.texto{
    height: 69px;
    
    border-top-right-radius: 13px;
    
    border-bottom-right-radius: 13px;

    margin-left: 0;
}
.logo{
    height: 69px;
    
    border-top-left-radius: 13px;
    
    border-bottom-left-radius: 13px;

    margin-right: 0;
}

/* MENU */
.menu{
    display: flex;
    gap: 30px;
    flex-wrap: wrap; 
    justify-content: center;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: var(--blanco);
    position: relative;
}

.menu a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: var(--dorado);
    transition: 0.3s;
}

.menu a:hover::after{
    width: 100%;
}

/* DERECHA */
.right{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.busqueda{
    display: flex;
    align-items: center;
    background: var(--blanco);
    padding: 5px 10px;
    border-radius: 10px;
}

.busqueda input{
    border: none;
    outline: none;
}

/* CARDS */
.autos-section{
    padding: 60px 20px;
}

.titulo-seccion{
    text-align: center;
    font-size: 40px;
    color: var(--dorado);
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.card-auto{
    background: var(--card-bg);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid var(--card-borde);
    transition: 0.4s;
    padding-bottom: 60px;
}


.card-auto:hover{
    transform: translateY(-10px) scale(1.03);
}

.card-auto img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
}

.card-auto h3{
    color: var(--dorado);
}

/* SLIDER */
.slider-box{
    width: 40%;
    max-width: 1024px;
    margin: 50px auto;
    overflow: hidden;

}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite;
   
}

.slider-box li{
    list-style: none;
    width: 100%; 
    
}

.slider-box img{
    width: 100%;
}

/* ANIMACIÓN DE LIAM */
@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
    100% {margin-left: 0;}
}

/* FOOTER */
.footer{
    background: var(--header-bg);
    backdrop-filter: blur(15px);
    margin: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--borde-blanco);
}

.redes a{
    margin: 0 10px;
    font-size: 20px;
}
/* servicios */
.servicios{
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    gap:10px;
    justify-content: center;
    margin: 10hw;
}

.contenedor-servicio{
    padding: 10px 20px;
    margin: 5px;
    max-width: 38vw;
    height: 35vh;
    background: var(--card-bg);
    border-radius: 20px;
    text-align: left;
    backdrop-filter: blur(10px);
    border: 1px solid var(--card-borde);
    transition: 0.4s;
}

.nombre-servicio{
    text-align: center;
    font-size: 20px;
}

/* Colores */
.redes a:nth-child(1){ color: var(--facebook); }
.redes a:nth-child(2){ color: var(--instagram); }
.redes a:nth-child(3){ color: var(--x); }

/* ========================= */
/* RESPONSIVE: POR MAXI */
/* ========================= */

/* TABLET */
@media (max-width: 1024px){

    .titulo-seccion{
        font-size: 32px;
    }

    .logo, .texto{
        height: 60px;
    }
}

/* CELULAR */
@media (max-width: 1000px){

    nav{
        flex-direction: column;
        align-items: center;
        position: relative; 
    }

    .right{
        position: absolute;
        top: 10px;
        right: 15px;
        flex-direction: row; 
    }

    .menu{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

}
@media (max-width: 1000px){

    nav{
        flex-direction: column;
        align-items: center;
        position: relative; 
    }

    .right{
        position: absolute;
        top: 10px;
        right: 15px;
        flex-direction: row; 
    }

    .menu{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
     .slider-box{
        width: 70%;
    }
}

/* CELULAR CHICO */
@media (max-width: 480px){

    .logo, .texto{
        height: 50px;
    }

    .busqueda input{
        width: 100px;
    }

    .titulo-seccion{
        font-size: 22px;
    }

    .card-auto img{
        width: 100%;
        height: 100%;
    }
    .contenedor-servicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider-box{
        width: 90%;
    }
}

.right{
    display: flex;
    align-items: center;
    gap: 15px;
    position: static; 
}

.icono-user{
    width: 35px;
    height: 35px;
    color: var(--blanco);
    display: block;
    z-index: 10; 
}

.contacto{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
    border: 1px solid var(--borde-blanco);
}

.contacto h3{
    color: var(--dorado);
    margin-bottom: 20px;
}

.contacto a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: var(--dorado);
    color: var(--negro);
    text-decoration: none;
    border-radius: 5px;
}
.texto_contacto{
    display: flex;
    justify-content: center;
}
.textito{
    display: flex;
    justify-content: center;
}

.telefono{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.icono-telefono{
    width: 20px;
    height: 20px;
    color: var(--blanco);
    
}

.telefono h3{
    margin: 0;
    color: var(--dorado);
}

.linea{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.subtitulo-seccion{
    text-align: center;
    font-size: 20px;
    color: var(--gris-texto);
    margin-top: -20px;
}