body{
    background-color: grey;
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.menu{
    display: flex;
    padding-right: 20px;
    margin: 0;
}

.menu li{
    margin-left: 50px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 15px;

}

h1{
    margin: 0;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 2rem;
    text-align: center;
}

.busqueda {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: white;
    margin-right: 20px;
}

.busqueda svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.busqueda input {
    border: none;          
    outline: none;         
    width: 100%;
}
